.content {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    margin: 0;
    padding: 30px;

    background-color: var(--container-color);

    height: 300px;

    border-radius: var(--card-radius);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.item-content {
    display: grid;
    grid-template-rows: calc(100% - 78px) 58px;

    padding-right: 30px;

    height: 300px;
    row-gap: 20px;
}

.item-text {
    overflow: hidden;
}

.item-text > h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.item-text p {
    font-size: larger;

    height: calc(100% - 2rem - 58px);
}

.item-links {
    display: flex;
    gap: 20px;

    height: 58px;
}

.item-links > a {
    margin: 0;
    padding: 5px;
    background-color: var(--button-color);
    border-radius: var(--small-button-radius);

    color: var(--text-title-color);
}

.item-links > a > img {
    width: 48px;
    height: 48px;
}

.item-links > a:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .item {
        grid-template-columns: 1fr;
    }
    .item > img {
        display: none;
    }
    .item-content {
        padding-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .content {
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}

@media screen and (max-width: 450px) {
    .item-links > a:nth-child(n + 4) {
        display: none;
    }
}
