<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <script>
        document.head.appendChild(document.createElement("base")).href = `${location.protocol}//${location.host}`;
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Resourceful Bees - ${title}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://teamresourceful.com/blog/${id}" />
    <meta property="og:description" content="${description}" />
    <meta name="theme-color" content="${color}">

    <title>Team Resourceful - ${title}</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/animated-links.css">
    <link rel="stylesheet" href="/styles/blog.css">
    <script src="scripts/lightmode.js"></script>
</head>
<script>
    document.head.appendChild(document.createElement("base")).href = `${location.protocol}//${location.host}`;
</script>
<body>
<div class="navigation">
    <a href="/">Home</a>
    <a href="/blogs">Blogs</a>
    <a href="/mods">Mods</a>
</div>
<div class="content">
    <div class="container">
        ${content}
    </div>
</div>
<div class="footer">
    <div class="footer-links">
        <a href="https://discord.gg/resourcefulbees" rel="me">Discord</a>
        <a href="https://github.com/Team-Resourceful" rel="me">Github</a>
        <a href="https://floss.social/@teamresourceful" rel="me">Mastodon</a>
    </div>
    <p class="copyright">Copyright © 2024 Team Resourceful. All Rights Reserved.</p>
</div>
</body>
</html>